.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
  }
  
  .left {
    margin-right: auto;
  }
  
  .center {
    flex: 1;
    text-align: center;
  }
  
  .right {
    margin-left: auto;
  }
  
  .logo {
    width: 300px;
    height: auto;
  }
  
  .link {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0 10px;
  }
  